.section{
    background-color: white;
    margin: 0px;
    border: 1px solid hsl(0, 0%, 83%);
}
.section__header{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid #eee;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    border-bottom: 2px solid #eee;
}
@media(max-width:767px){
    .section__header{
        grid-template-columns: 1fr;
    }
}
