
.section__header--button{
    border: none;
    background-color: white;
    color: teal;
    transition: 1s;
}
.section__header--button:disabled{
    color: #b3b3b3;
}
.section__header--button:hover{
    color: hsl(180, 100%,35%);
}
.section__buttons{
    display: grid;
    grid-template-columns: auto auto;
}
@media(max-width:767px){
    .section__buttons{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}